<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MiniWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>  
  </welcome-file-list>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>jspservlet.servlet.RegisterServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
   
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>jspservlet.servlet.Login2Servlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>jspservlet.servlet.LogoutServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login2Servlet</servlet-name>
        <servlet-class>jspservlet.servlet.LoginServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>login2Servlet</servlet-name>
        <url-pattern>/login2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateName</servlet-name>
        <servlet-class>jspservlet.servlet.ValidateName</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateName</servlet-name>
        <url-pattern>/ValidateName</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ValidatePassword</servlet-name>
        <servlet-class>jspservlet.servlet.ValidatePassword</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidatePassword</servlet-name>
        <url-pattern>/ValidatePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>jspservlet.servlet.ProductServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/lookproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addcartServlet</servlet-name>
        <servlet-class>jspservlet.servlet.AddCartServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>addcartServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>jspservlet.servlet.CartServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/mycart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>jspservlet.servlet.CartServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>jspservlet.servlet.OrderServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>SubmitInformationServlet</servlet-name>
        <servlet-class>jspservlet.servlet.BuyServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitInformationServlet</servlet-name>
        <url-pattern>/buyinformation</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>jspservlet.servlet.BuyServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SubmitInformationServlet1</servlet-name>
        <servlet-class>jspservlet.servlet.BuyServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitInformationServlet1</servlet-name>
        <url-pattern>/buyinformation1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ConfirmOrderServlet1</servlet-name>
        <servlet-class>jspservlet.servlet.BuyServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet1</servlet-name>
        <url-pattern>/confirmOrder1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>jspservlet.servlet.FeedbackServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/contact-us</url-pattern>
    </servlet-mapping>
</web-app>