<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>LAB3</display-name>
  <welcome-file-list>   
    <welcome-file>MyHtml.html</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>Give Horoscope Servlet.</servlet-name>
        <servlet-class>servlet.HoroscopeServlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>Give Horoscope Servlet.</servlet-name>
        <url-pattern>/Horoscope</url-pattern>
    </servlet-mapping>
</web-app>